@use "tokens" as *;
@use "mixins" as *;

.logo {
  position: relative;
  display: flex;
  align-items: center;
  align-self: flex-start;

  &_el {
    width: 4px;
    height: 26px;
    background: $color-white;
    margin-right: $space-2;

    transition: all $dur-base $ease-standard;

    &:nth-child(2) {
      transform: scaleY(1.4);
      background: var(--accentred);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &:hover {
    .logo_el:nth-child(2) {
      transform: scaleY(1);
    }
  }
}

@include bp(sm) {
  .logo:hover .logo_el:nth-child(2) {
    transform: scaleY(1.4);
  }
}
