@use "tokens" as *;
@use "mixins" as *;

// --- List wrapper --- //
.porfolio {
  padding: 30px;
}

.porfolio_title {
  margin: 0 0 60px;
  font-size: $fs-title; // fluid 24 → 40
  line-height: 1.1;
}

.porfolio_items {
  margin: 0 0 100px;
  padding: 0 0 0 60px;
}

@include bp(xl) {
  .porfolio_items {
    padding: 0 0 0 50px;
  }
}

@include bp(lg) {
  .porfolio_items {
    padding: 0 0 0 20px;
  }
}

@include bp(ml) {
  .porfolio {
    padding: 0;
  }
}

@include bp(md) {
  .porfolio_items {
    padding: 0;
  }
}

@include bp(sm) {
  .porfolio_items {
    margin: 0 0 20px;
  }
}

@include bp(xs) {
  .porfolio_list {
    padding-left: 20px;
  }
}

@include bp(425px) {
  .porfolio_title {
    margin: 0 0 40px;
  }
}

@include bp(375px) {
  .porfolio_title {
    margin: 0 0 30px;
  }

  .porfolio_list {
    padding-left: 15px;
  }
}

@include bp(350px) {
  .porfolio_list {
    padding-left: 10px;
  }
}
