@use "tokens" as *;
@use "mixins" as *;

.mainimage {
  position: relative;
  width: 32.5rem; // 520
  height: 85vh;
  background: var(--accentred);
  box-shadow: 0 3px 36px -6px rgba(0, 0, 0, 0.75);

  &_img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &_front {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-height: 1081px) {
  .mainimage {
    height: 56.25rem; // 900
  }
}

@include bp(ml) {
  .mainimage {
    width: 100%;
    margin-bottom: $space-4;
  }
}

@include bp(sm) {
  .mainimage {
    height: 29.375rem; // 470
    margin-bottom: $space-6;
    box-shadow: 0 2px 20px -6px rgba(0, 0, 0, 0.75);
  }

  .mainimage_img {
    transform: translate(7px, 7px) !important;
  }
}

@include bp(414px) {
  .mainimage {
    height: 22.5rem; // 360
  }
}
