@use "tokens" as *;
@use "mixins" as *;

.container {
  position: relative;
  max-width: $container-max;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 25rem 1fr 12.5rem; // 400 / 200
  grid-template-rows: 1fr;
  grid-template-areas: ". . .";
  min-height: 100vh;
}

@include bp(xxl) {
  .wrapper {
    grid-template-columns: 18.75rem 1fr 12.5rem; // 300 / 200
  }
}

@include bp(xl) {
  .wrapper {
    grid-template-columns: 17.1875rem 1fr 10.9375rem; // 275 / 175
  }
}

@include bp(lg) {
  .wrapper {
    grid-template-columns: 17.1875rem 1fr 10rem; // 275 / 160
  }
}

@include bp(ml) {
  .wrapper {
    grid-template-columns: 15.9375rem 1fr 10rem; // 255 / 160
  }

  .main {
    padding: $space-5;
  }
}

@include bp(890px) {
  .wrapper {
    grid-template-columns: 15.9375rem 1fr 8.75rem; // 255 / 140
  }

  .main {
    padding: $space-6 $space-4;
  }
}

@include bp(sm) {
  .wrapper {
    grid-template: none;
    grid-template-rows: auto 1fr auto;
  }
}

@include bp(xxs) {
  .main {
    padding: $space-5 $space-4 $space-6;
  }
}

@include bp(375px) {
  .main {
    padding: $space-5 $space-4;
  }
}
