@use "tokens" as *;
@use "mixins" as *;

.somelink {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;

  h4 {
    font-size: $fs-lg;
    margin: 0 0 $space-1;
  }

  a {
    color: $color-white;
    text-decoration: none;
    font-size: $fs-md;
    letter-spacing: 1px;
    transition: background 250ms linear;

    &:hover {
      background: var(--accentred);
    }
  }
}

@include bp(lg) {
  .somelink a {
    font-size: $fs-sm;
  }
}

@include bp(sm) {
  .somelink {
    margin-bottom: 0;
    margin-right: 25px;
  }
}
