@use "tokens" as *;
@use "mixins" as *;

.social {
  display: flex;
  align-items: center;

  &_link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: $space-2;
    width: 1.875rem; // 30
    height: 1.875rem;
    background-color: $color-white;
    transition: background 250ms linear;

    svg {
      fill: var(--accent);
      pointer-events: none;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background: var(--accentred);

      svg {
        fill: $color-white;
      }
    }
  }
}

@include bp(sm) {
  .social_link {
    margin-right: $space-3;
    width: 2.1875rem; // 35
    height: 2.1875rem;
    font-size: 1.25rem; // 20
  }
}
